
/*Media Queries -- Damos Formato para pantallas de moviles pequeños(Menos de 630px)*/
@media(max-width: 630px){
	body{font-size:15px;}
	.MenuHorizontal li{
		text-indent:-35px;
		text-align:center;
		font-size:15px;
		display: inline-block;
	}

	img{width:50%; height:50%;}
	.MenuVertical {
		width:auto;
		height:auto;
		margin-bottom:20px;
		
	}
	.MenuVertical li{
		text-indent:10px;
		display:inline-block;
		font-size:15px;	

	}
	header{text-align:center;}
	.cuadro{width:auto;}
	.logo{width:50px; height:50px;}
}
/*Media Queries -- Damos Formato para pantallas de moviles con pantalla mas grande(640-1000px)*/
@media (min-width: 640px) and (max-width: 1000px){
	body{font-size:15px;}
	.MenuHorizontal li{
		text-indent:-35px;
		text-align:center;
		font-size:20px;
		display: inline-block;
	}
	img{width:50%; height:50%;}
	.MenuVertical {
		height:130px;
		width:130px;
		border-radius:10px 100px 10px 100px;
		padding:0px 20px 2px 1px;
		
	}
	.MenuVertical li{
		font-size:18px;
	}
	.cuadro{width:120px;}
	.logo{width:50px; height:50px;}
	header{text-align:center;}
}
/*Media Queries -- Damos Formato para pantallas de potatiles pequeños o tablets(1024-1278px)*/
@media (min-width: 1024px) and (max-width: 1278px){
	.cuadro{width:200px;}
	.MenuHorizontal li{
		text-indent:30px;
		text-align:center;
		display: inline-block;
	}
	.MenuVertical {
		height:149px;
		width:132px;
		border-radius:10px 100px 10px 100px;
		padding:0px 20px 2px 1px;
	}
}
/*Media Queries -- Damos Formato para pantallas grandes(Mas de 1300px)*/
@media(min-width: 1300px){
	.cuadro{width:160px;}
	.MenuHorizontal li{
		display: inline-block;
		text-indent:100px;
		
	}
	.MenuVertical {
		height:149px;
		width:132px;
		border-radius:10px 100px 10px 100px;
		padding:0px 20px 2px 1px;
		
	}
}

/*Estilos Generales según la etiqueta*/

body{
	background-color:#FEEFEF;
	text-align:justify;
	background-image: url(../Img/sprinkles.png);
}
a{
	color:#FFFF00;
	text-decoration:none;
}

a:hover{
	color:#FEEFEF;
}

ul{
list-style:none;
}
header{box-shadow:inset 0px 0px 75px #ffff00,0px 0px 75px #ffff00;}
footer{font-size:11px;}
textarea,input{
border-style:inset; 
border-width:2px;
background-color:#FEEFEF;
}
textarea:hover,input:hover{border-color:#FFFF00;}
textarea:focus,input:focus{border-color:#FD2526;}
table{margin: 0 auto;
	width: 100%;
}
table,th,td{border:1px solid #FD2526;}

/*Estilos Generales según la clase*/

	/*Centrado de letras*/
.centro{text-align:center;}

	/*Estilo de los Menú*/
.MenuHorizontal {
	
	background-color:#FD2526;
	border-style:groove;
	border-color:#FD2526;
	font-size:20px;
	padding-bottom:28px;
	box-shadow: 0px 0px 750px #ffff00;	
	
}
.MenuHorizontal li{
	float:left;
	margin-top:-6px;
	margin-left:50px;
}

.MenuVertical {
	
	background-color:#FD2526;
	border-style:groove;
	border-width:2px;
	border-color:#FD2526;
	font-size:18px;
	padding-bottom:5px;
	float:left;
	box-shadow: 0px 0px 50px #ffff00;
	cursor:pointer;
}


.MenuVertical li{
	color:#FFFF00;
}
.MenuVertical li:hover{
	color:#FEEFEF;
}

	/*Titulo de cada categoría*/
.titulos{
	
	color:#FD2526;
	text-align:center;
	font-size:30px;
	font-weight:bold;
	
}
	/*Cuadro de Últimas Noticias*/
.cuadro{
	overflow-y:scroll;
	height:500px;
	border-style:inset; 
	border-width:3px;
	border-color:#FD2526;
	padding-left:10px;
	padding-right:10px;
	font-size:12px;
	background-image: url(../Img/cuadricula.png);
	color:#840000;
}
	/*Formulario*/

.formulario_reg label{
	
    display: inline-block;
    float: left;
    font-weight: bold;
    width: 230px;
}

.formulario_reg li{
	
    padding:12px;
    position:relative;
}

.enviar {
	background-color:#FD2526;
	color:#ffff00;
    width:85px;
    height:35px;
    border:none;
    margin-top:50px;
    cursor:pointer;
    float:right;
}

.enviar:hover{
		background-color:#ffff00;
		color:#FD2526;
}

	/*Línea de final de pagina */
.Linea{
	height:3px;
	background-color:#FD2526;

}
	/*Logo del Píe de Página*/
.logo{
	float:right;
}
.ganador{background-color:#48FF1F;}
.empate{background-color:#FFDF67;}

/*Estilos Generales según ID*/

	/*Ocultamos las categorías no seleccionadas*/
#Opcion2, #Opcion3, #Opcion4, #Opcion5 {
	display:none;
}

	/*Estilo especial para el titulo del recuadro*/
#UltimasNoticias{
	
	text-align:center;
	font-weight:bold;
	font-style:italic;
	text-decoration:underline;
	color:#FD2526;

}

	/*Estiilo especial para los links del pie de pagina*/
#pie a{
	color:#000000;
}
#pie a:hover{
	color:#FD2526;
}
	/*Estilo especial para el Aviso Legal del formulario*/
#av{color:#FD2526;}
