@CHARSET "UTF-8";

body{
	
	background-color:#FEEFEF;
	text-align:justify;
	background-image: url(../Img/sprinkles.png);
}
a{
	color:#FFFF00;
	text-decoration:none;
}

a:hover{
	color:#FEEFEF;
}

ul{
list-style:none;
}
header{box-shadow:inset 0px 0px 75px #ffff00,0px 0px 75px #ffff00;}


.MenuHorizontal {
	
	background-color:#FD2526;
	border-style:groove;
	border-color:#FD2526;
	font-size:20px;
	padding-bottom:28px;
	box-shadow: 0px 0px 750px #ffff00;	
	
}
.MenuHorizontal li{
	
	display: inline-block;
	float:left;
	text-indent:100px;
	margin-top:-6px;
	margin-left:50px;
}

.MenuVertical {
	
	background-color:#FD2526;
	border-style:groove;
	border-width:2px;
	border-color:#FD2526;
	border-radius:10px 100px 10px 100px;
	font-size:18px;
	padding-bottom:5px;
	display:inline-block;
	padding:0px 20px 2px 1px;
	float:left;
	height:149px;
	width:132px;
	box-shadow: 0px 0px 50px #ffff00;
	cursor:pointer;
}

.MenuVertical li{
	color:#FFFF00;
}
.MenuVertical li:hover{
	color:#FEEFEF;
}

#Opcion2, #Opcion3, #Opcion4, #Opcion5 {
	display:none;
}

.titulos{
	
	color:#FD2526;
	text-align:center;
	font-size:30px;
	font-weight:bold;
	
}

#UltimasNoticias{
	
	text-align:center;
	font-weight:bold;
	font-style:italic;
	text-decoration:underline;
	color:#FD2526;

}

.cuadro{
	overflow-y:scroll;
	height:500px;
	border-style:inset; 
	border-width:1;
	border-color:#FD2526;
	padding-left:10px;
	padding-right:10px;
	font-size:12px;
	background-image: url(../Img/cuadricula.png);
}

.Linea{
	height:3px;
	background-color:#FD2526;

}

.logo{
	float:right;
}

#pie a{
	color:#000000;
	font-size:16px;
}

#pie a:hover{
	color:#FD2526;
}

footer{font-size:11px;}

/*--- Formulario --*/

.formulario_reg label{
	
    display: inline-block;
    float: left;
    font-weight: bold;
    width: 230px;
}

.formulario_reg li{
	
    padding:12px;
    position:relative;
}

textarea,input{
border-style:inset; 
border-width:1,5;
background-color:#FEEFEF;
}
textarea:hover,input:hover{border-color:#FFFF00;}
textarea:focus,input:focus{border-color:#FD2526;}

.enviar {
	background-color:#FD2526;
	color:#ffff00;
    width:85px;
    height:35px;
    border:none;
    margin-top:50px;
    cursor:pointer;
    float:right;
}

.enviar:hover{
		background-color:#ffff00;
		color:#FD2526;
}

#av{color:#FD2526;}
table{margin: 0 auto;}
table,th,td{border:1px solid #FD2526;}
.centro{text-align:center;}